@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-on-primary-fixed-variant: #4d4a76;
  --color-on-error-container: #68001f;
  --color-surface-container-low: #f2f4f6;
  --color-outline: #767b7f;
  --color-inverse-primary: #cec9fe;
  --color-background: #f8f9fb;
  --color-on-background: #2e3336;
  --color-on-secondary-fixed: #3d4c39;
  --color-surface-variant: #dee3e7;
  --color-primary-dim: #514e7b;
  --color-secondary-container: #e4f6dc;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-fixed-variant: #596955;
  --color-outline-variant: #adb3b6;
  --color-surface-container: #ebeef1;
  --color-on-tertiary: #fff7f7;
  --color-surface-container-highest: #dee3e7;
  --color-on-surface: #2e3336;
  --color-secondary-fixed-dim: #d6e8ce;
  --color-on-primary-container: #44416c;
  --color-surface-bright: #f8f9fb;
  --color-error: #ac3149;
  --color-primary-container: #cec9fe;
  --color-surface-container-high: #e5e9ec;
  --color-on-tertiary-fixed-variant: #6f484c;
  --color-tertiary: #7d5458;
  --color-on-tertiary-fixed: #4f2c30;
  --color-tertiary-fixed-dim: #eeb9bd;
  --color-primary-fixed-dim: #c0bbef;
  --color-on-primary: #fcf7ff;
  --color-on-secondary-container: #4f5e4b;
  --color-secondary: #54634f;
  --color-surface-dim: #d5dbdf;
  --color-tertiary-dim: #70484c;
  --color-surface: #f8f9fb;
  --color-on-tertiary-container: #653f42;
  --color-on-surface-variant: #5a6063;
  --color-tertiary-container: #fdc7cb;
  --color-on-secondary: #ecfee4;
  --color-inverse-surface: #0c0f10;
  --color-tertiary-fixed: #fdc7cb;
  --color-on-primary-fixed: #302d57;
  --color-secondary-dim: #485744;
  --color-inverse-on-surface: #9b9d9f;
  --color-error-dim: #770326;
  --color-primary-fixed: #cec9fe;
  --color-primary: #5d5a87;
  --color-error-container: #f76a80;
  --color-secondary-fixed: #e4f6dc;
  --color-on-error: #fff7f7;
  --color-surface-tint: #5d5a87;
  
  --font-headline: var(--font-newsreader);
  --font-body: var(--font-manrope);
  --font-label: var(--font-manrope);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}